<div class="container-fluid">
  <div class="row products">
    <div class="product-card mb-3">
      <div class="product-image">
        <img src="../../assets/product1.jpg" alt="product 1">
      </div>
      <div class="product-details">
        <p class="product-name">Product 1</p>
        <p class="product-price">Price Rs 50</p>
      </div>
      <button class="btn btn-primary btn-lg btn-block">Add to cart</button>
    </div>
    <div class="product-card mb-3">
        <div class="product-image">
          <img src="../../assets/product1.jpg" alt="product 1">
        </div>
        <div class="product-details">
          <p class="product-name">Product 1</p>
          <p class="product-price">Price Rs 50</p>
        </div>
        <button class="btn btn-primary btn-lg btn-block">Add to cart</button>
      </div>
      <div class="product-card mb-3">
          <div class="product-image">
            <img src="../../assets/product.jpg" alt="product 1">
          </div>
          <div class="product-details">
            <p class="product-name">Product 1</p>
            <p class="product-price">Price Rs 50</p>
          </div>
          <button class="btn btn-primary btn-lg btn-block">Add to cart</button>
        </div>
        <div class="product-card mb-3">
            <div class="product-image">
              <img src="../../assets/product1.jpg" alt="product 1">
            </div>
            <div class="product-details">
              <p class="product-name">Product 1</p>
              <p class="product-price">Price Rs 50</p>
            </div>
            <button class="btn btn-primary btn-lg btn-block">Add to cart</button>
          </div>
  </div>
</div>

